In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('df_статус.csv', engine='python', sep=';', encoding='utf-8')

In [2]:
df = df[df.Статус != "Ликвидируется"]

In [3]:
df.shape

(33705, 46)

In [4]:
df = df[df.Статус != "Реорганизуется"]

In [5]:
df.shape

(33057, 46)

In [6]:
df = df.drop(['Дата ликвидации', 'Важная информация', 'Банковский идентификационный номер'], axis=1)

In [7]:
isna = df.isnull().any()
columns_with_nans = isna.index[np.where(isna > 0)]
columns_with_nans

Index(['Уставный капитал, RUB', 'Чистые активы, RUB',
       'Коэффициент покрытия Кредитного портфеля, %',
       'Коэффициент обеспечения Кредитного портфеля, %',
       'Коэффициент просроченной задолженности в Кредитном портфеле, %'],
      dtype='object')

In [10]:
df_with_nans = df[['index', 'year', 'month'] + list(columns_with_nans)]
nan_rows = df_with_nans[df_with_nans.isnull().any(axis=1)]
nan_rows

,index,year,month,"Уставный капитал, RUB","Чистые активы, RUB","Коэффициент покрытия Кредитного портфеля, %","Коэффициент обеспечения Кредитного портфеля, %","Коэффициент просроченной задолженности в Кредитном портфеле, %"
45439,863,2013,1,NaN,1.659737e+09,11.67,0.0,0.02
45440,863,2013,2,NaN,1.659737e+09,11.67,0.0,0.02
45441,863,2013,3,NaN,1.659737e+09,11.67,0.0,0.02
45442,863,2013,4,NaN,1.275036e+09,25.69,0.0,0.02
45443,863,2013,5,NaN,1.408611e+09,27.24,0.0,0.02
45444,863,2013,6,NaN,1.348017e+09,26.54,0.0,0.02
45445,863,2013,7,NaN,1.520928e+09,22.07,0.0,0.02
45446,863,2013,8,NaN,1.522190e+09,22.18,0.0,0.02
45447,863,2013,9,NaN,1.584317e+09,23.00,0.0,0.02
45448,863,2013,10,NaN,1.598680e+09,22.36,0.0,0.01
45449,863,2013,11,NaN,1.591012e+09,21.37,0.0,0.02
45450,863,2013,12,NaN,1.659737e+09,11.67,0.0,0.02
45451,863,2014,1,NaN,1.476366e+09,3.79,0.0,0.01
45452,863,2014,2,NaN,1.476366e+09,3.79,0.0,0.01
45453,863,2014,3,NaN,1.486757e+09,7.68,0.0,0.01
45454,863,2014,4,NaN,1.476366e+09,3.79,0.0,0.01
45455,863,2014,5,NaN,1.507134e+09,7.92,0.0,0.01
45456,863,2014,6,NaN,1.625011e+09,6.45,0.0,0.01
45457,863,2014,7,NaN,1.515908e+09,5.57,0.0,0.01
45458,863,2014,8,NaN,1.435126e+09,5.13,0.0,0.01
45459,863,2014,9,NaN,1.420307e+09,4.10,0.0,0.01
45460,863,2014,10,NaN,1.421469e+09,4.42,0.0,0.01
45461,863,2014,11,NaN,1.429031e+09,4.85,0.0,0.01
45462,863,2014,12,NaN,1.476366e+09,3.79,0.0,0.01
45463,863,2015,1,NaN,1.732788e+09,5.39,0.0,0.01
45464,863,2015,2,NaN,1.732788e+09,5.39,0.0,0.01
45465,863,2015,3,NaN,1.550796e+09,3.71,0.0,0.24
45466,863,2015,4,NaN,1.536203e+09,3.81,0.0,0.01
45467,863,2015,5,NaN,1.732788e+09,5.39,0.0,0.01
45468,863,2015,6,NaN,1.584367e+09,5.48,0.0,0.01
...,...,...,...,...,...,...,...,...
45486,863,2016,12,NaN,2.188202e+09,0.72,0.0,0.01
45487,863,2017,1,NaN,2.464044e+09,0.69,0.0,0.00
45488,863,2017,2,NaN,2.464044e+09,0.69,0.0,0.00
45489,863,2017,3,NaN,2.134756e+09,1.01,0.0,0.00
45490,863,2017,4,NaN,2.176588e+09,1.19,0.0,0.00
45491,863,2017,5,NaN,2.126483e+09,0.95,0.0,0.00
45492,863,2017,6,NaN,2.226342e+09,1.08,0.0,0.00
45493,863,2017,7,NaN,2.464044e+09,0.69,0.0,0.00
45494,863,2017,8,NaN,2.267848e+09,1.06,0.0,0.01
45495,863,2017,9,NaN,2.283983e+09,1.03,0.0,0.00
45496,863,2017,10,NaN,2.313210e+09,0.96,0.0,0.00
45497,863,2017,11,NaN,2.448356e+09,1.05,0.0,0.00
45498,863,2017,12,NaN,2.464044e+09,0.69,0.0,0.00
45499,863,2018,1,NaN,2.560769e+09,0.78,0.0,0.00
45500,863,2018,2,NaN,2.560769e+09,0.78,0.0,0.00
45501,863,2018,3,NaN,2.550310e+09,0.56,0.0,0.00
45502,863,2018,4,NaN,2.345024e+09,0.76,0.0,0.00
45503,863,2018,5,NaN,2.302702e+09,0.59,0.0,0.00
45504,863,2018,6,NaN,2.286099e+09,0.61,0.0,0.00
45505,863,2018,7,NaN,2.342612e+09,0.42,0.0,0.00
45506,863,2018,8,NaN,2.560769e+09,0.78,0.0,0.00
45507,863,2018,9,NaN,2.499451e+09,0.68,0.0,0.00
45508,863,2018,10,NaN,2.499290e+09,0.42,0.0,0.00
45509,863,2018,11,NaN,2.498516e+09,0.73,0.0,0.00
45510,863,2018,12,NaN,2.560769e+09,0.78,0.0,0.00
45821,945,2013,8,17 270 000,NaN,NaN,NaN,NaN
45822,945,2013,9,17 270 000,NaN,NaN,NaN,NaN
45823,945,2013,10,17 270 000,NaN,NaN,NaN,NaN
45824,945,2013,11,17 270 000,NaN,NaN,NaN,NaN
45825,945,2013,12,17 270 000,NaN,NaN,NaN,NaN

In [11]:
nan_rows.groupby(['index']).count()

,year,month,"Уставный капитал, RUB","Чистые активы, RUB","Коэффициент покрытия Кредитного портфеля, %","Коэффициент обеспечения Кредитного портфеля, %","Коэффициент просроченной задолженности в Кредитном портфеле, %"
index,,,,,,,
863,72,72,0,72,72,72,72
945,5,5,5,0,0,0,0